<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="نظام_إدارة_معاهد.My.MySettings.statfesConnectionString"
            connectionString="Data Source=DESKTOP-5K8H7SF;Initial Catalog=statfes;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>